<nav class="navbar navbar-dark bg-dark mb-5">
    <a class="navbar-brand" href="/">
        <img src="https://image.flaticon.com/icons/svg/148/148957.svg" width="30" height="30" alt="">
    </a>
    <ul class="nav">
        <li class="nav-item"><a class="nav-link" href="/">Startseite</a></li>
        <li class="nav-item"><a class="nav-link" href="/users">Users</a></li>
        <li class="nav-item"><a class="nav-link" href="/fs">File System</a></li>
        <li class="nav-item"><a class="nav-link" href="/upload">Image</a></li>
        <li class="nav-item"><a class="nav-link" href="/uploads">ImageArray</a></li>
        <li class="nav-item"><a class="nav-link" href="/simple">Simple Upload</a></li>
    </ul>
</nav>

{{label}}
{{@blog.navigation}}
{{url}}
{{current}}
{{slug}}