<div class="container">
    <!-- Content here -->
    <div class="row">
        <div class="col-12">
            <h1>Simple File Upload</h1>

            {{#if status}}
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                <strong>{{status}}</strong>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            {{/if}}
            <p>{{filename}}</p>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <form action="/simple" enctype="multipart/form-data" method="POST">
                <div class="form-group">
                    <input type="file" name="myFile" id="myFile" required />
                    <button type="submit" class="btn btn-primary">Upload</button>
                </div>
            </form>
        </div>
    </div>


    {{#if filename}}
    <div class="row">
        <div class="col-12">
            <p>File{{filename}}

                <img src="/images/uploads/{{filename}}" class="align-self-end mr-3" alt="..." width="40%">
            </p>
        </div>
    </div>
    {{/if}}

</div>