<div class="container">
    <!-- Content here -->
    <div class="row">
        <div class="col-12">
            <h1>Multi File Upload</h1>

            {{#if status}}
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                <strong>{{status}}</strong>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            {{/if}}

        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <form action="/uploads" enctype="multipart/form-data" method="POST">
                <div class="form-group">
                    <input type="file" name="myFile1" id="myFile1" required multiple="multiple" /><br>

                    <button type="submit" class="btn btn-primary">Upload</button>
                </div>
            </form>
        </div>
    </div>


    {{#if filename}}
    <div class="row">
        {{#each filename}}

        <div class="col-3">
            <div class="card" style="width: 18rem;">
                <img src="/images/uploads/{{this.filename}}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{this.originalname}}</h5>
                    <p class="card-text">{{this.size}}</p>
                    <a href="#" class="btn btn-primary">Open</a>
                </div>
            </div>
        </div>
        {{/each}}

    </div>
    {{/if}}

</div>