.img {
  position: relative !important; 
  float: left !important;
  width:  200px !important;
  height: 100px !important;
  background-position: 50% 50% !important;
  background-repeat:   no-repeat !important;
  background-size:     cover !important;
}