<div class="container">
  <!-- Content here -->
  <div class="row">
    <div class="col">
      <h1>{{title}}</h1>
      <p>{{path}}</p>
      <ul>
        {{#each dir}}
        <li>{{this}}</li>
        {{/each}}
      </ul>
    </div>

  </div>