<div class="container">
    <!-- Content here -->
    <div class="row">
        <div class="col-12">
            {{#if users}}
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Email</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each users}}
                    <tr>
                        <td>{{username}}</td>
                        <td>{{email}}</td>
                        <td>
                            <a href="users/show/{{_id}}">edit</a>
                            <button type="button" class="btn btn-danger" data-toggle="modal"
                                data-target="#exampleModal">
                                Löschen
                            </button>

                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
            {{> modal}}
            {{else}}
            <p>Nichts gefunden</p>
            {{/if}}
        </div>
    </div>
</div>