<div class="container">
    <!-- Content here -->
    <div class="row">
        {{#if user}}
        <div class="col-4">
            <p>Username: </p>
        </div>
        <div class="col-8">
            <input type="text" id="username" value="{{user.username}}">
        </div>
        {{else}}
        <p>Kein User gefunden</p>
        {{/if}}
    </div>
</div>